/* 
    Document   : style
    Created on : 26.10.2012, 23:05:45
    Author     : stephan
    Description:
        Purpose of the stylesheet follows.
*/

html, body {height: 100%;}
body {
    background: -moz-linear-gradient(top,  #12266D,  #6A96FF);
    background: -o-linear-gradient(top, #12266D, #6A96FF);
    background: linear-gradient(top, #12266D, #6A96FF);
    background: -webkit-gradient(linear, left top, left bottom, from(#12266D), to(#6A96FF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#12266D', endColorstr='#6A96FF');
}
.sidebar-nav {    padding: 9px 0;}
.center{	text-align: center;}
.divCenter {    margin-left: auto ;  	margin-right: auto ;}
.divVCenter {    margin-top: auto ;  	margin-bottom: auto ;}
.fullHeight{   padding-top: 60px;   padding-bottom: 40px; }
.form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }


      #footer {
        background-color:#FAFAFA;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      
      #footer p {
      	padding-left: 10px;padding-right:10px;padding-top:20px;padding-bottom:20px;margin:0px;
      }